<div class="modal fade" id="customerSearchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Search Costumer</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-4"><span>Name :</span><input type="text" data-ng-model="filter.Contact_Name" /> </div>
                <div class="col-sm-4"><span>Company:</span><input type="text" data-ng-model="filter.Company_Name" /> </div>
                <div class="col-sm-4"><span>Title :</span><input type="text" data-ng-model="filter.Contact_Title" /> </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Contact Name</th>
                            <th>Company Name</th>
                            <th>Contact Title</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="cust in dxCustomer.items.value | filter:filter |orderBy:sort">
                            <td>
                                <a ng-click="selectCustomer(cust)"><span data-ng-bind="cust.Contact_Name"></span></a>
                            </td>
                            <td>
                                <span data-ng-bind="cust.Company_Name"></span>
                            </td>
                            <td>
                                <span data-ng-bind="cust.Contact_Title"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div ng-bind-html-unsafe="template"></div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->